{{ partial "document_open.html" }}
{{ partial "head.html" . }}
<body lang="en">

{{ partial "header.html" . }}

{{ partial "home_header.html" . }}

<main role="main">
  <div>
    {{ range where .Data.Pages "Section" "post" }}
        <article class="post">
            <header>
                <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
                <span class="post-meta">
                    <time datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Format "2 January 2006"}}</time>
                    {{ .Params.tags }}
                </span>
            </header>
            <section class="post-excerpt">
                <p>{{ .Summary }}&hellip;</p>
            </section>
        </article>
    {{ end }}
  </div>
</main>

{{ partial "footer.html" . }}
{{ partial "document_close.html" }}
