/**
 * Github - custom styling for gists.
 */

.gist table {
    margin: 0;
    font-size: 1.4rem;
}

.gist .line-number {
    min-width: 25px;
    font-size: 1.1rem;
}

a[href*="github.com"] {
	&:hover {
		color: $bc-github;
	}
}