/*
 * Styles for the home page only
 */

.home-header {
  position: relative;
  display: table;
  width: 100%;
  height: 225px;
  text-align: center;
  color: #fff;
  background: $secondary no-repeat center center;
  background-size: cover;
  background-position: 50% 50%;
  @media #{$media-sm} {
    height: 350px;
  }
  @media #{$media-md} {
    height: 400px;
  }
  @media #{$media-lg} {
    height: 525px;
  }
  h1 {
    margin: 10px 0 10px 0;
    font-size: $font-size-h1;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: $font-family-sans-serif;
    text-shadow: 0 0 5px rgba(0,0,0,0.85);
    @media #{$media-sm} {
      font-size: floor($font-size-h1 * 1.1);
    }
    @media #{$media-md} {
      font-size: floor($font-size-h1 * 1.4);
    }
    @media #{$media-lg} {
      font-size: floor($font-size-h1 * 1.8);
    }

  }
  h2 {
    margin: 0;
    font-size: floor($font-size-h2 * 0.5);
    line-height: 1.5em;
    font-weight: 300;
    font-family: $font-family-serif;
    letter-spacing: 0;
    text-shadow: 0 0 5px rgba(0,0,0,0.85);
    @media #{$media-sm} {
      font-size: floor($font-size-h1 * 0.6);
    }
    @media #{$media-md} {
      font-size: floor($font-size-h1 * 0.8);
    }
    @media #{$media-lg} {
      font-size: floor($font-size-h1 * 1);
    }
  }
}

